@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;800&family=Bodoni+Moda&family=Open+Sans:wght@300;400;600&family=Playfair+Display:ital,wght@0,500;0,700;1,500;1,700&family=Roboto+Mono:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Source+Code+Pro:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
html, body {
    margin: 0;
    background: white;
    font-family: 'Inter', sans-serif;
}

p{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    line-height: 1.7em;
    font-size:1.1em;
    color: #1a1a1a;
}
@media (min-width: 768px) {
    .row-container {
        flex-direction: column;
    }
}
@media (max-width: 600px) {
 .text-container {
   padding-left: 1em;
   padding-right: 1em;

 }
 .chart-container {
    padding-left: 1em;
    padding-right: 1em;
 
  }
 .menu{
     text-align:center;
     padding:0 0 0 0;
     margin-bottom:none;
 }
}

.dateline{
    font-family:"Roboto Mono";
    color:gray;
    font-weight:300;
    font-size:1em;
}
a{
    color:#000;
}

a:hover{
    color:#3c33d8
}

h1 {
    line-height:1.2em;
}
h2{
    font-family:"Inter",sans-serif;
    font-size:1.3em;
    font-weight:300;
    line-height:1.2em;
    color:#4a4a4a;
}
h3{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size:1.2em;
    color:#da0e8e;
}
h4{
    font-family: 'Inter',sans-serif;
    font-weight: 700;
    font-size:1.2em;
    margin-bottom:2em;
    color:#4F51DB;
}
hr {
    border-top: .5px;
    margin-top: 2em;
    margin-bottom: 2em;
}
.text-container {
    max-width: 640px;
    margin: 0 auto;
    margin-top:30px;
}

.chart-container {
    max-width: 900px;
    margin: 0 auto;
    margin-top:30px;
}

img {
    max-width: 100%;
    margin-top:10px;
    margin-bottom:10px;
}
.menu {
    padding:30px;
    letter-spacing:.03em;
}
.menu a{
    text-decoration:none;
    text-transform:uppercase;
    font-weight:300;
    font-size:1.3em;
}
.footer {
    padding:30px;
    height:10vh;
    letter-spacing:.03em;
    background-color:#000;
    margin:0 auto;

}
.full-size-image {
    padding: 5em 0;
    height:30vh;
    background-size: cover;
    background-color:#B39FD1;
}

.header-box{
    padding:5em 0;
    height:20vh;
    background-color:#B39FD1;
}

.header-box h1 {
    color: white;
    text-shadow: 0 0 40px black;
    font-size: 2.5em;
    font-family: 'Inter', sans-serif;
    line-height:1em;

}

.header-box h3 {
    color: black;
    background-color: white;
    font-size: 1.2em;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    padding:8px;
}
.full-size-image h1 {
    color: white;
    text-shadow: 0 0 40px black;
    font-size: 2.5em;
    font-family: 'Inter', sans-serif;
    line-height:1em;

}

.full-size-image h3 {
    color: black;
    background-color: white;
    font-size: 1.2em;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    padding:8px;
}