@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;800&family=Bodoni+Moda&family=Open+Sans:wght@300;400;600&family=Playfair+Display:ital,wght@0,500;0,700;1,500;1,700&family=Roboto+Mono:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Source+Code+Pro:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
html, body {
    margin: 0;
    background: white;
    font-family: 'Inter', sans-serif;
}

p{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    line-height: 1.7em;
    font-size:1.1em;
    color: #1a1a1a;
}

h4{
    font-family: 'Roboto Mono', monospace;
    font-weight: 600;
    line-height: 1.7em;
    font-size:1.3em;
    color: #1a1a1a;
}

h5{
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    line-height: 1.7em;
    font-size:1em;
    color: #1a1a1a;
}

a {
    color:black;
    text-decoration:underline;
}

a:hover{
    background-color: #FABB16;
    text-decoration: underline;

}
@media (min-width: 768px) {
    .row-container {
        flex-direction: column;
    }
}
@media (max-width: 600px) {
 .text-container {
   padding-left: 1em;
   padding-right: 1em;

 }
 .chart-container {
    padding-left: 1em;
    padding-right: 1em;
 
  }
 .menu{
     text-align:center;
     padding:0 0 0 0;
     margin-bottom:20px;
 }
}
.menu {
    padding:30px;
    letter-spacing:.03em;
    background-color:#FABB16;
    margin-bottom:25px;
}
.menu a{
    text-decoration:none;
    text-transform:uppercase;
    font-weight:300;
    font-size:1.3em;   
}
.menu a:hover{
    color:#FAF8D7;
}
.dateline{
    font-family:"Roboto Mono";
    color:gray;
    font-weight:300;
    font-size:1em;
}
a.highlight{
    background-color:#FABB16;
    color:black;
    font-weight:bold;
    font-family: "Roboto Mono",monospace;
    text-decoration:none;
}

a.highlight:hover{
    background-color:#FAF8D7;
    color:black;
    font-weight:bold;
    text-decoration:none;
}

h1 {
    line-height:1.2em;
}
h2{
    font-family:"Roboto Mono",monospace;
    font-size:1.3em;
    font-weight:300;
    line-height:1.3em;
    color:black;
}
.highlight-orange{
    background-color:#FABB16;
    color:black;
    font-weight:bold;
    font-family: "Roboto Mono",monospace;
    text-decoration:none;
}

.highlight-blue-lt{
    background-color:#BACCF4;
    color:black;
    font-weight:bold;
    font-family: "Roboto Mono",monospace;
    text-decoration:none;
}

.highlight-red{
    background-color:#df7363;
    color:black;
    font-weight:bold;
    font-family: "Roboto Mono",monospace;
    text-decoration:none;
}

.underline-red{
    text-decoration-color:#df7363;
    text-decoration: underline;
    font-weight:bold;
}

.highlight-yellow{
    background-color:#ecb92d;
    color:black;
    font-weight:bold;
    font-family: "Roboto Mono",monospace;
    text-decoration:none;
}

.highlight-blue{
    background-color:#3d6de7;
    color:black;
    font-weight:bold;
    font-family: "Roboto Mono",monospace;
    text-decoration:none;
}
.underline-blue{
    text-decoration-color:#3d6de7;
    text-decoration: underline;
    font-weight:bold;
}



hr {
    
    stroke:black;
    margin-top: 2em;
    margin-bottom: 2em;
  }

.text-container {
    max-width: 640px;
    margin: 0 auto;
    margin-top:30px;
}

.chart-container {
    max-width: 900px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 70px;

}

img {
    max-width: 100%;
    margin-right: 20px;
}

.footer{
    padding-top:60px;
    padding-left:30px;
    padding-right:30px;
    padding-bottom:30px;
    height:60px;
    letter-spacing:.03em;
    color:#fff;
    background-color:#000;
    margin:0 auto;

}
.footer a{
color:#fff;
vertical-align:center;  
}
.footer a:hover{
    background-color:black; 
    }